*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("image/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box 2 */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-icon i{
 margin-left: 3px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}


/* box 3 */
.nav-search{
    display: flex;
    background-color: pink;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: orange;
    font-size: 1.2rem;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}
.nav-search:hover{
    border: 3px solid orange;
}
/* box 4 and 5 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-signin{
    padding: 0px 9px 10px;
    margin: 0px 0px 0px 2px;
}

/* box 6 */

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-weight: 700;
    padding: 0px 9px 10px;
    margin: 0px 0px 0px 2px;
    font-size: 0.85rem;
}

/* pannel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    font-weight: bolder;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
    padding: 2px;
}
.panel-ops p:hover{
    border: 1px solid white;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    padding: 5px;
    width: 23%;
}

/* Hero section */
.hero-section{
    background-image: url(image/hero-image.jpg);
    height:500px;
    background-size: cover;
    margin: 0 0.5%;
}

/* Shop-section */
.shop-section{
    display: flex;
    margin-top: -250px;
}
.box{
    height: 360px;
    width:30%;
    margin: 0 0 0 1.3%;
    background-color:white;
    border: 1px solid black;
    padding: 20px;
}
.box1{
    font-weight: bold;
    font-size: 1.3rem;
}
.box1-image{
    background: url(image/box1_image.jpg);
    height: 290px;
    background-size: cover;
}
.box2{
    font-weight: 600;
    font-size: 1.5rem;
}
.box2-image{
    background: url(image/box2-image.jpg);
    height: 290px;
    background-size: cover;
}
.box .blue-link{
    color: blue;
    margin-top: 10px;
    height: 30px;
    font-size: 0.85rem;
    font-weight: 100;
}
.box .blue-link:hover{
    color: orange;
}
.box3{
    font-weight: 600;
    font-size: 1.5rem;
}
.box3 .home{
    height: 38%;
    width: 100%;
    margin-bottom: 4%;
    display: flex;
}
.box3 .kichen{
    height: 38%;
    width: 100%;
    display: flex;
}
.image1{
    background-color:white;
    width: 48%;
    height: 100%;
}
.image2{
    background-color: white;
    width: 48%;
    height: 100%;
    margin-left: 4%;
}
.box4{
    font-weight: bold;
    font-size: 1.3rem;
}
.box4 .home{
    height: 38%;
    width: 100%;
    margin-bottom: 4%;
    display: flex;
}
.box4 .kichen{
    height: 38%;
    width: 100%;
    display: flex;
}

.box3 .home .image1 .img{
    height: 80%;
    background-image: url(image/box3\ image1.jpg);
}
.box3 .home .image1 {
    font-size: 0.85rem;
    font-weight: lighter;
    height: 100%;
}
.box3 .home .image2 .img{
    height: 80%;
    background-image: url(image/box3\ image2.jpg);
}
.box3 .home .image2 {
    font-size: 0.85rem;
    font-weight: lighter;
    height: 100%;
}
.box3 .kichen .image1 .img{
    height: 80%;
    background-image: url(image/box3\ image3.jpg);
}
.box3 .kichen .image1 {
    font-size: 0.85rem;
    font-weight: lighter;
    height: 100%;
}
.box3 .kichen .image2 .img{
    height: 80%;
    background-image: url(image/box3\ image4.jpg);
}
.box3 .kichen .image2 {
    font-size: 0.85rem;
    font-weight: lighter;
    height: 100%;
}

.box4 .home .image1 .img{
    height: 80%;
    background-image: url(image/box4_image1.jpg);
}
.box4 .home .image1 {
    font-size: 0.85rem;
    font-weight: lighter;
    height: 100%;
}
.box4 .home .image2 .img{
    height: 80%;
    background-image: url(image/box4\ 2image.jpg);
}
.box4 .home .image2 {
    font-size: 0.85rem;
    font-weight: lighter;
    height: 100%;
}
.box4 .kichen .image2 .img{
    height: 80%;
    background-image: url(image/box4\ image3.jpg);
}
.box4 .kichen .image2 {
    font-size: 0.85rem;
    font-weight: lighter;
    height: 100%;
}
.box4 .kichen .image1 .img{
    height: 80%;
    background-image: url(image/box4\ image4.jpg);
}
.box4 .kichen .image1 {
    font-size: 0.85rem;
    font-weight: lighter;
    height: 100%;
}

.coverimg{
    background-size: cover;
}